<?xml version="1.0" encoding="UTF-8"?>
<web-app id="defaultWebApp" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<listener>
		<listener-class>com.primeton.paas.openapi.httpin.startup.StartupService</listener-class>
	</listener>

	<servlet>
		<servlet-name>AsyncServlet</servlet-name>
		<servlet-class>com.primeton.paas.openapi.httpin.servlet.servlet.AsyncServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AsyncServlet</servlet-name>
		<url-pattern>/async/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ServerActiveServlet</servlet-name>
		<servlet-class>com.primeton.paas.openapi.httpin.servlet.ServerActiveServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServerActiveServlet</servlet-name>
		<url-pattern>/active</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
	</welcome-file-list>

	<mime-mapping>
		<extension>xml</extension>
		<mime-type>application/xml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>war</extension>
		<mime-type>application/zip</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>ear</extension>
		<mime-type>application/zip</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>zip</extension>
		<mime-type>application/zip</mime-type>
	</mime-mapping>

</web-app>
